:root {
  --padding-content: 0px 50px;
  --h2-font-size: 3rem;
  --brown-font-color: #3f170d;
  --yellow-color: #fbd626;
  --width-checkout: 80vw;
  --height-checkout: 68vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: content-font;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: title-font;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  background-color: #f6eedf;
}

header {
  font-family: content-font;
  background-color: rgba(246, 238, 223, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px 50px;
  color: black;
  width: calc(100% - 100px);
  z-index: 1;
}

.search-container {
  border-bottom: 1px solid black;
}

.search-btn {
  border: none;
  background-color: #f6eedf;
  cursor: pointer;
}

.search {
  border: none;
  outline: none;
  background-color: #f6eedf;
  font-family: content-font;
  font-size: 1rem;
}

.search-container img {
  width: 17px;
}

.logo > img {
  width: 50px;
}

.logo > p {
  color: var(--brown-font-color);
  font-family: title-font;
  font-size: 1.25rem;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.1rem;
}

li {
  list-style: none;
}

a {
  padding: 5px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

li:hover > a,
a:hover,
li:hover > .cart-notif > .fa-cart-shopping {
  color: #fbd626;
}

li:nth-child(2) {
  position: relative;
}

.dropdown-menu,
.dropdown-cart-container {
  position: absolute;
  background-color: #f6eedf;
  top: 25px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.15s ease-in-out;
}

.dropdown-menu {
  left: -100%;
}

.dropdown-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
}

a:hover + .dropdown-menu,
.cart-notif:hover + .dropdown-cart-container,
.dropdown-menu:hover,
.dropdown-cart-container:hover {
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.fa-cart-shopping {
  cursor: pointer;
}

.cart-notif {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.notif {
  position: absolute;
  top: -4px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 0.6rem;
  border-radius: 50%;
  width: 13px;
  height: 11px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  visibility: hidden;
}

.notif.active {
  visibility: visible;
}

.cart-notif:hover {
  color: var(--yellow-color);
}

.dropdown-cart-container {
  width: 400px;
  top: 44px;
  right: 50px;
  padding: 10px;
  font-size: 1rem;
}

.dropdown-cart-container > hr {
  margin: 5px 0px;
  opacity: 0.4;
}

.dropdown-cart {
  display: flex;
  justify-content: space-between;
}

.item-img > img {
  width: 35px;
  border-radius: 5px;
}

.item-img {
  display: flex;
  align-items: center;
}

.item-qty {
  font-size: 0.75rem;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.cart-item > div:nth-child(1) {
  display: flex;
  gap: 10px;
}

.checkout {
  cursor: pointer;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 4px;
  width: 80px;
  padding: 3px 0;
  font-family: content-font;
  font-weight: bold;
}

.checkout:hover,
.all-food-list:hover,
.add-to-cart-btn:hover {
  filter: brightness(95%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 120px;
}

.homepage {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url(../images/food_one.jpg);
  background-size: cover;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.homepage.active,
.services.active {
  display: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 25vw;
  padding-right: 25vw;
  text-align: center;
  gap: 15px;
}

article > h1 {
  font-family: title-font;
  font-size: 4rem;
}

article > p {
  font-family: content-font;
  font-size: 2rem;
}

.all-food-list {
  width: 170px;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  font-family: content-font;
  background-color: var(--yellow-color);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.see-all > .all-food-list {
  font-size: 1.1rem;
}

.food-list {
  padding: var(--padding-content);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.food-list.active {
  display: none;
}

.food-list > h2 {
  font-family: title-font;
  font-size: var(--h2-font-size);
  color: var(--brown-font-color);
}

.see-all {
  text-align: center;
}

.food-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 18px;
}

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin: 0px 50px;
  border-radius: 10px;
  padding: 25px 0px;
}

.services > h2 {
  font-family: title-font;
  font-size: var(--h2-font-size);
  color: var(--brown-font-color);
}

.service-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.service-logo > figure > img {
  height: 150px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

figcaption {
  font-family: content-font;
  color: var(--brown-font-color);
}

footer {
  padding: var(--padding-content);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(63, 23, 13, 0.5);
}

.logo-bottom {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-bottom > img {
  width: 40px;
}

.contact {
  display: flex;
  gap: 12px;
}

.contact img {
  width: 25px;
  border-radius: 50%;
}

.contact img:hover {
  background-color: var(--yellow-color);
}

.logo-bottom > p {
  font-family: title-font;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--brown-font-color);
}

.bottom-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottom-menu h3 {
  font-weight: bold;
  font-family: title-font;
  color: var(--brown-font-color);
}

.bottom-menu p,
.bottom-menu li {
  font-family: content-font;
  color: var(--brown-font-color);
}

.description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

.main-menu-footer > li {
  list-style-type: none;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: content-font;
}

.blur-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}

.blur-bg.active {
  display: flex;
}

.checkout-content {
  display: grid;
  position: fixed;
  grid-template-columns: 2fr 1fr;
  top: calc(50% - var(--height-checkout) / 2);
  left: calc(50% - var(--width-checkout) / 2);
  width: var(--width-checkout);
  height: var(--height-checkout);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  font-family: content-font;
  font-size: 0.9rem;
  transform: scale(0);
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.checkout-content.active {
  transform: scale(1);
}

.left-content {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
}

.left-content > h2 {
  font-family: title-font;
  font-size: 1.8rem;
}

table {
  border-collapse: collapse;
}

th {
  padding: 10px 15px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
}

tr > th:nth-child(1) {
  width: 430px;
}

tr > td:nth-child(4) {
  text-align: center;
}

td {
  padding: 8px 0px;
}

.checkout-item-list img {
  width: 80px;
  border-radius: 5px;
}

.checkout-item-list {
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  overflow: auto;
  height: 53vh;
  scrollbar-width: thin;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-quantity-container {
  text-align: center;
}

.edit-quantity {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.edit-quantity > button,
td > button {
  width: 15px;
  border: none;
  cursor: pointer;
}

.price {
  text-align: center;
}

.continue-shopping {
  width: 150px;
  border: none;
  background-color: white;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: auto;
}

.continue-shopping:hover {
  color: var(--yellow-color);
}

.right-content-container {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  min-height: 350px;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 20px;
}

.checkout-total-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-total,
.shipping {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
  padding-bottom: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.right-content button {
  background-color: var(--yellow-color);
  border: none;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.right-content button:hover {
  filter: brightness(95%);
}

.food-detail-content {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 300px;
  top: calc(50% - 170px);
  left: calc(50% - 270px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  font-family: content-font;
  font-size: 0.9rem;
  padding: 20px;
  gap: 20px;
  transform: scale(0);
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.food-detail-content.active {
  transform: scale(1);
}

.food-detail-content img {
  width: 300px;
  border-radius: 10px;
}

.food-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 20px;
}

.food-detail p {
  text-align: center;
  font-size: 1rem;
}

.food-detail h3 {
  text-align: center;
}

.set-quantity {
  display: flex;
  gap: 10px;
}

.set-quantity button {
  width: 15px;
  border: none;
  cursor: pointer;
}

.quantity {
  font-size: 0.9rem;
}

.food-detail h3,
.food-detail p {
  margin-bottom: 15px;
}

.food-detail div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.food-detail > div > button {
  border: none;
  font-family: content-font;
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: var(--yellow-color);
  border: none;
  width: 90px;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: content-font;
}

.loading {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--yellow-color);
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
  z-index: 2;
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.loading.active {
  display: flex;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.3rem;
}

.hamburger-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -200%;
  top: 60px;
  background-color: rgba(246, 238, 223, 1);
  height: 100vh;
  width: 100vw;
  transition: right 0.3s ease-in-out;
  align-items: center;
  font-size: 1.2rem;
}

.hamburger-menu-container.active {
  right: 0%;
}

@media screen and (max-width: 860px) {
  header {
    padding: 5px 25px;
    width: calc(100% - 40px);
  }

  nav {
    gap: 15px;
    margin-right: 10px;
  }

  .dropdown-cart-container {
    right: 20px;
  }

  .checkout-content {
    left: calc(50% - (95vw / 2));
    width: 95vw;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
  }

  .right-content-container {
    padding-right: 20px;
  }
}

@media screen and (max-width: 680px), screen and (max-height: 760px) {
  header {
    padding: 5px 10px;
    width: calc(100% - 20px);
  }

  nav {
    gap: 10px;
    margin-right: 8px;
  }

  .search-container {
    width: 130px;
  }

  .search {
    width: 108px;
  }

  .food-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .food-list > h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .service-logo {
    flex-direction: column;
    gap: 30px;
  }

  article,
  .food-list,
  footer {
    padding: 0px 10px;
  }

  article > h1 {
    font-size: 3rem;
  }

  article > p {
    font-size: 1.5rem;
  }

  .all-food-list {
    width: 160px;
    height: 30px;
    font-size: 1.2rem;
  }

  .services {
    margin: 0px 10px;
  }

  .food-detail-content {
    width: 450px;
    height: 250px;
    top: calc(50% - 135px);
    left: calc(50% - 235px);
    gap: 10px;
    padding: 10px;
  }

  .food-detail-content img {
    width: 250px;
  }

  .food-detail h3,
  .food-detail p {
    margin-bottom: 8px;
  }

  .food-detail {
    gap: 5px;
  }

  .left-content > h2 {
    font-size: 1.2rem;
  }

  .right-content > button {
    font-size: 0.7rem;
  }

  .right-content,
  .total,
  .checkout-item-list,
  .left-content > button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 590px) {
  .hamburger {
    display: flex;
    flex-direction: column;
  }

  nav {
    margin-left: auto;
  }

  header {
    gap: 10px;
  }

  nav .home,
  nav .menu,
  nav .about {
    display: none;
  }

  .dropdown-cart-container {
    width: 350px;
    z-index: 2;
  }

  .food-detail-content {
    width: 350px;
    height: 210px;
    top: calc(50% - 105px);
    left: calc(50% - 185px);
  }

  .food-detail-content img {
    width: 150px;
    align-self: center;
  }

  .food-detail {
    font-size: 0.9rem;
  }

  .food-detail p {
    font-size: 0.8rem;
  }

  .continue-shopping {
    font-size: 0.8rem;
  }

  .checkout-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .right-content-container {
    padding: 10px 0;
    width: 400px;
  }

  .right-content {
    min-height: 10vh;
    gap: 10px;
    padding: 10px;
  }

  .checkout-item-list {
    height: 30vh;
  }

  .checkout-total,
  .shipping {
    padding-bottom: 5px;
  }
}
