:root {
  --padding-content: 0px 50px;
  --h2-font-size: 3rem;
  --brown-font-color: #3f170d;
  --button-color: #fbd626;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@font-face {
  font-family: content-font;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: title-font;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6eedf;
}

header {
  font-family: content-font;
  background-color: rgba(246, 238, 223, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px 50px;
  color: black;
  width: calc(100% - 100px); /* 20px merupakan padding dari body */
  z-index: 1;
}

.search-container {
  border-bottom: 1px solid black;
}

.search-container > button {
  border: none;
  background-color: #f6eedf;
  cursor: pointer;
  padding: 5px 0px;
}

.search {
  border: none;
  outline: none;
  background-color: #f6eedf;
  font-family: content-font;
  font-size: 1rem;
}

.search-container img {
  width: 17px;
}

.logo > img {
  width: 70px;
}

.logo > p {
  color: var(--brown-font-color);
  font-family: title-font;
  font-size: 1.4rem;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.1rem;
}

a {
  padding: 5px;
  border-radius: 10px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: var(--button-color);
}

.dropdown img {
  width: 10px;
}

.cart {
  width: 25px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 120px;
}

.homepage {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url(../images/food_one.jpg);
  background-size: cover;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  height: 100vh;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 25vw;
  padding-right: 25vw;
  text-align: center;
  gap: 15px;
}

article > h1 {
  font-family: title-font;
  font-size: 4rem;
}

article > p {
  font-family: content-font;
  font-size: 2rem;
}

article > button {
  width: 170px;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  font-family: content-font;
  background-color: var(--button-color);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

article > button:hover {
  filter: brightness(95%);
}

.menu-list {
  padding: var(--padding-content);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-list > h2 {
  font-family: title-font;
  font-size: var(--h2-font-size);
  color: var(--brown-font-color);
}

.see-all {
  text-align: center;
}

.see-all > button {
  width: 170px;
  height: 40px;
  font-size: 1.1rem;
  font-family: content-font;
  border-radius: 10px;
  border: none;
  background-color: var(--button-color);
  cursor: pointer;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
}

.see-all > button:hover {
  filter: brightness(95%);
}

.food-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
}

.food-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 10px;
  gap: 20px;
  padding: 10px 0px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.1s;
  animation-name: animate-pop;
  animation-duration: 0.5s;
  font-family: content-font;
  color: var(--brown-font-color);
}

.food-card:hover {
  transform: scale(1.03);
  filter: brightness(95%);
}

.food-card > img {
  width: 200px;
  border-radius: 10px;
}

.food-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.price-tag {
  display: flex;
  gap: 60px;
  align-items: center;
}

.price-tag > button {
  background-color: var(--button-color);
  border: none;
  width: 90px;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: content-font;
}

.price-tag > button:hover {
  filter: brightness(95%);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0px 50px;
  border-radius: 10px;
  padding: 25px 0px;
}

.services > h2 {
  font-family: title-font;
  font-size: var(--h2-font-size);
  color: var(--brown-font-color);
}

.service-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.service-logo > figure > img {
  height: 150px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

figcaption {
  font-family: content-font;
  color: var(--brown-font-color);
}

footer {
  padding: var(--padding-content);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(63, 23, 13, 0.5);
}

.logo-bottom {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-bottom > img {
  width: 40px;
}

.contact {
  display: flex;
  gap: 12px;
}

.contact > img {
  width: 25px;
}

.logo-bottom > p {
  font-family: title-font;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--brown-font-color);
}

.bottom-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottom-menu h3 {
  font-weight: bold;
  font-family: title-font;
  color: var(--brown-font-color);
}

.bottom-menu p,
.bottom-menu li {
  font-family: content-font;
  color: var(--brown-font-color);
}

.description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-menu-footer,
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

.main-menu-footer > li {
  list-style-type: none;
}

.copyright {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  font-family: content-font;
}
